/**********  Primary orange color  **********/
$color-primary-light: #ffb900;
$color-primary: rgb(255, 153, 0);
$color-primary-dark: #ff7730;

/**********  Secondary green color  **********/
$color-secondary-light: #7ed56f;
$color-secondary-dark: #28b485;

/**********  Tertiary blue color  **********/
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

/**********  white and black shades  **********/
$color-white: #fff;
$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;
$color-black: #000;

/****************************/
/**********  FONT  **********/
/****************************/
$default-font-size: 1.6rem;

/****************************/
/**********  GRID  **********/
/****************************/
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
